.aside-nav {
  position: relative;
  background-color: $background-color-subtle;
  @include breakpoint($bp-sidebar) {
    padding-top: 1.3em;
  }
  
  &:before {
    @include breakpoint($bp-sidebar) {
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      left: -2000px;
      width: 2000px;
      background-color: $background-color-subtle;
    }
  }

  a {
    display: none;
    color: $accent-color;
    @include breakpoint($bp-sidebar) {
      display: block;
      padding: 0.75em;
      background-color: $background-color-subtle;
      text-decoration: none;
      &:hover, &:focus {
        background-color:darken($background-color-subtle, 8%);
      }
    }
  }
}
