.aside-nav {
  position: relative;
  background-color: $background-color-subtle;
  @include breakpoint($bp-sidebar) {
    padding-top: 1.3em;
  }
  
  &:before {
    @include breakpoint($bp-sidebar) {
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      left: -2000px;
      width: 2000px;
      background-color: $background-color-subtle;
    }
  }

  .side-nav-item {
    &.active {
      >a {
        color: $accent-color;
      }
    }
    a {
      display: none;
      color: $text-color;
      @include breakpoint($bp-sidebar) {
        display: block;
        padding: 0.75em 0.25em;
        text-decoration: none;
        border-top: 1px dotted $border-color;
        &:hover, &:focus {
          background-color:darken($background-color-subtle, 13%);
        }
        &.active {
        }
      }
    }
    > a {
      font-weight: 700;
    }
  }
  .side-nav-inner-item {
    a {
      border-top: 0 none;
      font-size: 0.875em;
      color: $text-color;
      padding: 0.5em 0.25em;
      &.active {
        color: $accent-color;
      }
    }
  }
}
