@keyframes jumpBorder {
  0%  {
    box-shadow: 0 0 0 0px $accent-color;
  }
  60% {
    box-shadow: 0 0 0 2.5px $accent-color;
  }
  100% {
    box-shadow: 0 0 0 1.5px $accent-color;
  }
}

.modal-wrapper {
  display: none;
  @include breakpoint($bp-l) {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(128,128,128, 0.6);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10em;
    z-index: 2;
  }

  .modal-content {
    background-color: $background-color;
    padding: 2em;
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    @include breakpoint ($bp-l) {
      position: static;
      height: auto;
      margin: 0 auto;
      max-width: 500px;
    }
  }
}

.modal-button {
  margin-top: 0.5em;
  width: 10em;
  max-width: 300px;
  padding: 0.5em;
  border-radius: 50px;
  background-color: darken($background-color-subtle, 3%);
  font-family: "Merriweather", serif;
  font-size: 1.2em;
  color: $accent-color;
  border: 7px solid $background-color;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  &:hover, &:focus {
    cursor: pointer;
    color: $background-color;
    background-color: $accent-color;
    animation: jumpBorder 0.3s ease-in 1 0.1s forwards; 
  }
}
