.accessibility-content {

  .tabbed-content {

    .tabs-list {
      @include reset-list;
      margin:0;
      display: flex;

      li {
        text-align: center;
        @include column(2);
        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        margin-bottom: 0;

        &.last {
          @include last;
        }

        &.current, &:hover, &:focus {
          background-color: $accent-color;
          a {
            color: $background-color;
          }
        }

        .tab {
          display: inline-block;
          padding: 1em 1.2em;
          text-align: center;
          height: 100%;
          width: 100%;
        }
      }
    }

    .tab-panel {
      display: none;
      padding: 1em;
      border: 1px solid $border-color;

      &.current {
        display: block;
      }
    }
  }
}
