.primary-content {
  a {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  h3 {
    margin: 1em 0em 0.25em 0em;
  }
  ul li {
    list-style-type: disc;
    margin-left: 1em;
  }

  .image-grid {
    .image-item {
      @include divider-top;
      padding-top: 1.4em;
    }
  }
}

.constrained-form {
  margin: 1.5em 0;
}

.map-embed {
  max-width: 100%;
  margin-bottom: 2.0em;
  iframe {
    max-width: 100%;
  }
}
