.primary-content {
  a {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  h3 {
    margin: 1em 0em 0.25em 0em;
  }
  ul li {
    list-style-type: disc;
    margin-left: 1em;
  }

  .unsure {
    background-color: #E89AEF;
  }
}

.constrained-form {
  max-width: 35em;
  margin: 1.5em auto;
}