.aside-nav
  %aside.side-nav{:role => "navigation", :"aria-label" => "Side Navigation"}
    %ul.side-nav-group
      %li.side-nav-item
        %a{:href => "/"} Foundations
        %ul
          %li.side-nav-inner-item
            %a{:href => "/"} Semantic HTML
          %li.side-nav-inner-item
            %a{:href => "/js"} JavaScript
          %li.side-nav-inner-item
            %a{:href => "/aria"} ARIA
          %li.side-nav-inner-item
            %a{:href => "/usability"} Usability
      %li.side-nav-item
        %a{:href => "/font"} Design
        %ul
          %li.side-nav-inner-item
            %a{:href => "/font"} Typography
          %li.side-nav-inner-item
            %a{:href => "/color"} Contrast &amp; Color
          %li.side-nav-inner-item
            %a{:href => "/seizures"} Blinking, Parallax
      %li.side-nav-item
        %a{:href => "/forms"} Code
        %ul
          %li.side-nav-inner-item
            %a{:href => "/forms"} Forms &amp; Form Validation
          %li.side-nav-inner-item
            %a{:href => "/skip-link"} Skip Link
          %li.side-nav-inner-item
            %a{:href => "/navigation"} Navigation
          %li.side-nav-inner-item
            %a{:href => "/search"} Search
          %li.side-nav-inner-item
            %a{:href => "/alerts"} Alerts
          %li.side-nav-inner-item
            %a{:href => "/dialogs"} Modals
          %li.side-nav-inner-item
            %a{:href => "/accordions"} Accordions
          %li.side-nav-inner-item
            %a{:href => "/tabs"} Tabs
      %li.side-nav-item 
        %a{:href => "/buttons"} Content
        %ul
          %li.side-nav-inner-item
            %a{:href => "/buttons"} Buttons
          %li.side-nav-inner-item
            %a{:href => "/links"} Links
          %li.side-nav-inner-item
            %a{:href => "/tables"} Tables
          %li.side-nav-inner-item
            %a{:href => "/images"} Images
          %li.side-nav-inner-item
            %a{:href => "/audio-video"} Audio &amp; Video
      %li.side-nav-item
        %a{:href => "/resources"} Tools &amp; Resources

        / Code • Search bar •  Carousels  • state change • Calendars • Embedding and iframes • Flash 

        / Content • Alerts and modals • Cognitive disabilities • CAPCHAs • Charts and graphs• Maps • PDFs • Third-party service / social media sharing embeds 

        / Resources • Assistive technologies • Testing tools • Code snippets