.aside-nav
  %aside.side-nav{:role => "navigation", :"aria-label" => "Side Navigation"}
    %ul.side-nav-group
      %li.side-nav-item
        %a{:href => "/"} Foundations
        %ul
          %li.side-nav-inner-item
            %a{:href => "/"} Overview
          %li.side-nav-inner-item
            %a{:href => "/foundations"} Usability
          %li.side-nav-inner-item
            %a{:href => "/foundations/semantic"} Semantic HTML
          %li.side-nav-inner-item
            %a{:href => "/foundations/aria"} ARIA
          %li.side-nav-inner-item
            %a{:href => "/foundations/js"} JavaScript
          %li.side-nav-inner-item
            %a{:href => "/foundations/keyboard"} Keyboard
      %li.side-nav-item
        %a{:href => "/design"} Design
        %ul
          %li.side-nav-inner-item
            %a{:href => "/design"} Overview
          %li.side-nav-inner-item
            %a{:href => "/design/font"} Typography
          %li.side-nav-inner-item
            %a{:href => "/design/color"} Contrast &amp; Color
          %li.side-nav-inner-item
            %a{:href => "/design/animations"} Animations &amp; Parallax
      %li.side-nav-item
        %a{:href => "/code"} Code
        %ul
          %li.side-nav-inner-item
            %a{:href => "/code"} Overview
          %li.side-nav-inner-item
            %a{:href => "/code/buttons"} Buttons
          %li.side-nav-inner-item
            %a{:href => "/code/search"} Search
          %li.side-nav-inner-item
            %a{:href => "/code/tables"} Tables
          %li.side-nav-inner-item
            %a{:href => "/code/alerts"} Alerts
          %li.side-nav-inner-item
            %a{:href => "/code/calendars"} Calendars
          %li.side-nav-inner-item
            %a{:href => "/code/svg"} SVG &amp; Icon Fonts
          %li.side-nav-inner-item
            %a{:href => "/code/carousels"} Carousels
          %li.side-nav-inner-item
            %a{:href => "/code/skip-link"} Skip Link
          %li.side-nav-inner-item
            %a{:href => "/code/navigation"} Navigation
          %li.side-nav-inner-item
            %a{:href => "/code/forms"} Forms &amp; Form Validation
          %li.side-nav-inner-item
            %a{:href => "/code/accordions"} Accordions
          %li.side-nav-inner-item
            %a{:href => "/code/tabs"} Tabs
          %li.side-nav-inner-item
            %a{:href => "/code/dialogs"} Modals
          %li.side-nav-inner-item
            %a{:href => "/code/flash"} Flash
      %li.side-nav-item
        %a{:href => "/content/overview"} Content
        %ul
          %li.side-nav-inner-item
            %a{:href => "/content/overview"} Overview
          %li.side-nav-inner-item
            %a{:href => "/content/"} Copywriting
          %li.side-nav-inner-item
            %a{:href => "/content/buttons"} Links &amp; Buttons
          %li.side-nav-inner-item
            %a{:href => "/content/images"} Images
          %li.side-nav-inner-item
            %a{:href => "/content/audio-video"} Multimedia
          %li.side-nav-inner-item
            %a{:href => "/content/maps"} Maps
          %li.side-nav-inner-item
            %a{:href => "/content/pdfs"} PDFs &amp; Alternatives
          %li.side-nav-inner-item
            %a{:href => "/content/third-party"} Third Party Embeds
          %li.side-nav-inner-item
            %a{:href => "/content/cognitive"} Cognitive Disabilities
      %li.side-nav-item
        %a{:href => "/resources"} Resources
        %ul
          %li.side-nav-inner-item
            %a{:href => "/resources"} Testing Tools
          %li.side-nav-inner-item
            %a{:href => "/resources/screenreaders"} How to: Screenreaders
          %li.side-nav-inner-item
            %a{:href => "/resources/resources"} Source Material &amp; Resources
