.aside-nav
  %aside.side-nav{:role => "navigation", :"aria-label" => "Side Navigation"}
    %ul.side-nav-group
      %li.side-nav-item
        %a{:href => "/"} Semantic HTML
      %li.side-nav-item
        %a{:href => "/font"} Font and Font Size
      %li.side-nav-item
        %a{:href => "/color"} Contrast and Color
      %li.side-nav-item
        %a{:href => "/forms"} Forms and Form Validation
      %li.side-nav-item
        %a{:href => "/aria"} ARIA
      %li.side-nav-item
        %a{:href => "/images"} Images
      %li.side-nav-item
        %a{:href => "/audio-video"} Audio/Video
      %li.side-nav-item
        %a{:href => "/seizures"} Blinking, Parallax
      %li.side-nav-item
        %a{:href => "/alerts-dialogs"} Errors, Warnings, Modals
      %li.side-nav-item
        %a{:href => "/buttons"} Buttons
      %li.side-nav-item
        %a{:href => "/links"} Links
      %li.side-nav-item
        %a{:href => "/tables"} Tables
      %li.side-nav-item
        %a{:href => "/skip-link"} Skip Link
      %li.side-nav-item
        %a{:href => "/navigation"} Navigation/Mobile Navigation
      %li.side-nav-item
        %a{:href => "/accordions-tabs"} Accordions/Tabs
      %li.side-nav-item
        %a{:href => "/resources"} Tools &amp; Resources