.aside-nav
  %aside.side-nav{:role => "navigation", :"aria-label" => "Side Navigation"}
    %ul.side-nav-group
      %li.side-nav-item
        %a{:href => "/"} Semantic HTML
      %li.side-nav-item
        %a{:href => "/aria"} ARIA
      %li.side-nav-item
        %a{:href => "/font"} Font &amp; Font Size
      %li.side-nav-item
        %a{:href => "/color"} Contrast &amp; Color
      %li.side-nav-item
        %a{:href => "/buttons"} Buttons
      %li.side-nav-item
        %a{:href => "/links"} Links
      %li.side-nav-item
        %a{:href => "/tables"} Tables
      %li.side-nav-item
        %a{:href => "/images"} Images
      %li.side-nav-item
        %a{:href => "/audio-video"} Audio &amp; Video
      %li.side-nav-item
        %a{:href => "/seizures"} Blinking, Parallax
      %li.side-nav-item
        %a{:href => "/forms"} Forms &amp; Form Validation
      %li.side-nav-item
        %a{:href => "/skip-link"} Skip Link
      %li.side-nav-item
        %a{:href => "/navigation"} Navigation
      %li.side-nav-item
        %a{:href => "/alerts"} Alerts
      %li.side-nav-item
        %a{:href => "/dialogs"} Modals
      %li.side-nav-item
        %a{:href => "/accordions"} Accordions
      %li.side-nav-item
        %a{:href => "/tabs"} Tabs
      %li.side-nav-item
        %a{:href => "/resources"} Tools &amp; Resources