%nav.primary-navigation{role: "navigation", :"aria-label" => "Mobile Navigation Accordions"}
  %ul.navigation-item-group
    %li.nav-item
      %button{:'aria-controls'=>'dropdown-1', :'aria-expanded'=>'false', :id=>'nav-control-1'} Foundations<span class="icon-expand"></span>
      %ul{:id => 'dropdown-1', :'aria-hidden'=>'true'}
        %li.nav-inner-item
          %a{:href => "/"} Overview
        %li.nav-inner-item
          %a{:href => "/foundations"} Usability
        %li.nav-inner-item
          %a{:href => "/foundations/semantic"} Semantic HTML
        %li.nav-inner-item
          %a{:href => "/foundations/aria"} ARIA
        %li.nav-inner-item
          %a{:href => "/foundations/js"} JavaScript
        %li.nav-inner-item
          %a{:href => "/foundations/keyboard"} Keyboard
    %li.nav-item
      %button{:'aria-controls'=>'dropdown-2', :'aria-expanded'=>'false', :id=>'nav-control-2'} Design<span class="icon-expand"></span>
      %ul{:id => 'dropdown-2', :'aria-hidden'=>'true'}
        %li.nav-inner-item
          %a{:href => "/design/"} Overview
        %li.nav-inner-item
          %a{:href => "/design/font"} Typography
        %li.nav-inner-item
          %a{:href => "/design/color"} Contrast &amp; Color
        %li.nav-inner-item
          %a{:href => "/design/animations"} Animations &amp; Parallax
    %li.nav-item
      %button{:'aria-controls'=>'dropdown-3', :'aria-expanded'=>'false', :id=>'nav-control-3'} Code<span class="icon-expand"></span>
      %ul{:id => 'dropdown-3', :'aria-hidden'=>'true'}
        %li.nav-inner-item
          %a{:href => "/code/"} Overview
        %li.nav-inner-item
          %a{:href => "/code/buttons"} Buttons
        %li.nav-inner-item
          %a{:href => "/code/search"} Search
        %li.nav-inner-item
          %a{:href => "/code/tables"} Tables
        %li.nav-inner-item
          %a{:href => "/code/alerts"} Alerts
        %li.nav-inner-item
          %a{:href => "/code/calendars"} Calendars
        %li.nav-inner-item
          %a{:href => "/code/svg"} SVG &amp; Icon Fonts
        %li.nav-inner-item
          %a{:href => "/code/carousels"} Carousels
        %li.nav-inner-item
          %a{:href => "/code/skip-link"} Skip Link
        %li.nav-inner-item
          %a{:href => "/code/navigation"} Navigation
        %li.nav-inner-item
          %a{:href => "/code/forms"} Forms &amp; Form Validation
        %li.nav-inner-item
          %a{:href => "/code/accordions"} Accordions
        %li.nav-inner-item
          %a{:href => "/code/tabs"} Tabs
        %li.nav-inner-item
          %a{:href => "/code/dialogs"} Modals
        %li.nav-inner-item
          %a{:href => "/code/flash"} Flash
    %li.nav-item
      %button{:'aria-controls'=>'dropdown-4', :'aria-expanded'=>'false', :id=>'nav-control-4'} Content<span class="icon-expand"></span>
      %ul{:id => 'dropdown-4', :'aria-hidden'=>'true'}
        %li.nav-inner-item
          %a{:href => "/content/overview/"} Overview
        %li.nav-inner-item
          %a{:href => "/content/"} Copywriting
        %li.nav-inner-item
          %a{:href => "/content/buttons"} Links &amp; Buttons
        %li.nav-inner-item
          %a{:href => "/content/images"} Images
        %li.nav-inner-item
          %a{:href => "/content/audio-video"} Multimedia
        %li.nav-inner-item
          %a{:href => "/content/maps"} Maps
        %li.nav-inner-item
          %a{:href => "/content/pdfs"} PDFs &amp; Alternatives
        %li.nav-inner-item
          %a{:href => "/content/third-party"} Third Party Embeds
        %li.nav-inner-item
          %a{:href => "/content/cognitive"} Cognitive Disabilities
    %li.nav-item
      %button{:'aria-controls'=>'dropdown-5', :'aria-expanded'=>'false', :id=>'nav-control-5'} Resources<span class="icon-expand"></span>
      %ul{:id => 'dropdown-5', :'aria-hidden'=>'true'}
        %li.nav-inner-item
          %a{:href => "/resources/"} Testing Tools
        %li.nav-inner-item
          %a{:href => "/resources/screenreaders"} How to: Screenreaders
        %li.nav-inner-item
          %a{:href => "/resources/resources"} Source Material &amp; Resources