.container
  %footer.site-footer
    .information
      = image_tag('/assets/images/innovation-studio-text.svg', alt: 'Innovation Studio Logo', class: 'innovation-logo')
      %address
        %p Carnegie Museums of Pittsburgh
        %p Innovation Studio
        %p 4400 Forbes Avenue
        %p Pittsburgh, PA 15213
      %p
        %a{:href => "mailto:accessibility@carnegiemuseums.org", :title => 'Email Innovation Studios'} accessibility@carnegiemuseums.org
      %p
        %a{:href => "http://www.carnegiemuseums.org/interior.php?pageID=100"} Privacy Policy
    = image_tag('/assets/images/built-by-bearded.svg', alt: 'Built by Bearded logo', class: 'bearded-built')
