.container
  %footer.site-footer
    %img{:src => "../assets/images/innovation-studio-footer.png", :alt => "Innovation Studio Logo"}/
    %address
      %p Carnegie Museums of Pittsburgh
      %p Innovation Studio
      %p 4400 Forbes Avenue
      %p Pittsburgh, PA 15213
    %p
      %a{:href => "mailto:accessibility@carnegiemuseums.org", :title => 'Email Innovation Studios'} accessibility@carnegiemuseums.org
    %p
      %a{:href => "http://www.carnegiemuseums.org/interior.php?pageID=100"} Privacy Policy
    %p.copyright
      Copyright #{Date.today.year.to_s}. All rights reserved.
