%header.site-header
  .container
    = link_to 'Skip to Content', '#content', :id => 'skip-nav', :class => 'screenreader-text'

    = image_tag('/assets/images/innovation-studio-text.svg', alt: 'Innovation Studio Logo', class: 'innovation-logo-head')

    %h1.site-name
      = link_to '/' do
        Web Accessibility Guidelines
        %span.screenreader-text
          Foundations - Overview

    %section.mobile-navigation
      %button.side-nav-trigger{ :"aria-expanded" => "false"}
        %span.icon-menu
        %span.trigger-status.screenreader-text.closed Open
        Menu

    = partial 'partials/primary-navigation'
