%header.site-header
  .container
    %a{:href => "#content", :id => "skip-nav", :class => "screenreader-text"} Skip to Content

    %h1.site-name
      %a{:href => "/"} Accessibility Guide <span class=screenreader-text> Getting Started</span>

    %section.mobile-navigation
      %button.side-nav-trigger{ :"aria-expanded" => "false"}
        %span.icon-menu
        %span.trigger-status.screenreader-text.closed Open
        Menu

    = partial 'partials/primary-navigation'
