%header.site-header
  .container
    %h1.site-name
      A11y Guidelines

    %section.mobile-navigation
      %button.side-nav-trigger{:"aria-label" => "Mobile Navigation Trigger Button"}
        %span.trigger-status.closed Open
        Accessibility Resources

    = partial 'partials/primary-navigation'
