%header.site-header
  .container
    = link_to 'Skip to Content', '#content', :id => 'skip-nav', :class => 'screenreader-text'

    = link_to image_tag('/assets/images/innovation-studio-text.svg', alt: 'Innovation Studio Logo', class: 'innovation-logo-head'), 'http://studio.carnegiemuseums.org'

    %h1.site-name
      = link_to '/web-accessibility' do
        Web Accessibility Guidelines
        %span.screenreader-text
          Foundations - Overview

    %section.mobile-navigation
      %button.side-nav-trigger{ :"aria-expanded" => "false"}
        %span.icon-menu
        %span.trigger-status.screenreader-text.closed Open
        Menu

    = partial 'partials/primary-navigation'
