---
title: Audio &amp; Video | Accessibility Guidelines
---
%h2.page-title
  Audio &amp; Video

%ul
  %li No auto-play.
  %li Provide captions or transcripts for multimedia elements.
  %li Don’t rely on sounds to convey information, like an “alert” noise. Even hearing users often have their computers muted.
  %li Be especially careful if your site targets older users, as hearing loss is common.

%h3 More Resources
 