---
textarea_id:
textarea_classes:
textarea_placeholder:
textarea_maxlength:
textarea_minlength:
textarea_name:
textarea_value:
textarea_disabled:
textarea_readonly:
textarea_required:
textarea_role: "textbox"
textarea_aria_multiline: true
---
- attrs = {}
- attrs[:class] = textarea_classes if textarea_classes
- attrs[:id] = textarea_id if textarea_id
- attrs[:placeholder] = textarea_placeholder if textarea_placeholder
- attrs[:maxlength] = textarea_maxlength if textarea_maxlength
- attrs[:minlength] = textarea_minlength if textarea_minlength
- attrs[:name] = textarea_name if textarea_name
- attrs[:value] = textarea_value if textarea_value
- attrs[:readonly] = textarea_readonly if textarea_readonly
- attrs[:disabled] = textarea_disabled if textarea_disabled
- attrs[:required] = textarea_required if textarea_required
- attrs[:role] = textarea_role if textarea_role
- attrs["aria-multiline=true"] = textarea_aria_multiline if textarea_aria_multiline

%textarea{attrs}
