---
input_type: text
input_id:
input_classes:
input_placeholder:
input_maxlength:
input_name:
input_checked: checked
input_value:
---

- attrs = {type: input_type}
- attrs[:class] = input_classes if input_classes
- attrs[:id] = input_id if input_id
- attrs[:placeholder] = input_placeholder if input_placeholder
- attrs[:maxlength] = input_maxlength if input_maxlength
- attrs[:name] = input_name if input_name
- attrs[:checked] = input_checked if input_checked
- attrs[:value] = input_value if input_value
%input{attrs}
