$text-color: #444;
$heading-color: $text-color;
$text-color-subtle: lighten($text-color, 30%);

$link-color: #555;
$link-color-hover: darken($link-color, 15%);

$highlight-color: #333;
$highlight-color-hover: darken($highlight-color, 15%);
$accent-color: #DE492F;

$border-color: #ccc;

$background-color: #fff;
$background-color-subtle: #F8F8F8;
$background-color-dark: #777;
$background-color-light: #d4d4d4;

$footer-color: #3D3D3D;
$secondary-nav-color: $background-color-subtle;