---
title: Accordions &amp; Tabs | Accessibility Guidelines
---
.primary-content{:id => "content"}
  %h2.page-title
    Accordions &amp; Tabs

  %h3 Accordions
  %p Here is an example adapted from the US Design Standards.

  .accordion-example

    %ul.accordion-controls{:'aria-label'=>'Accordion Control Group Buttons'}
      %li
        %button{:'aria-controls'=>'content-1', :'aria-expanded'=>'false', :'id'=>'accordion-control-1'} Apples
        #content-1{:'aria-hidden'=>'true'} 
          %p Apples are a fine fruit often associated with good health, and fewer doctor's appointments.
          %p Ex. An apple a day keeps the doctor away.
      %li
        %button{:'aria-controls'=>'content-2', :'aria-expanded'=>'false', :'id'=>'accordion-control-2'} Lemons
        #content-2{:'aria-hidden'=>'true'}
          %p Lemons are good with almost anything, yet are often have a negative connotation when used in conversation.
          %p The bread from the french bakery is normally very good, but the one we bought today was a lemon.
      %li
        %button{:'aria-controls'=>'content-3', :'aria-expanded'=>'false', :'id'=>'accordion-control-3'} Kiwis
        #content-3{:'aria-hidden'=>'true'}
          %p Kiwis are a fun, under-appreciated fruit.

  %p Simply Accessible, a web firm which specializes in accessibility, recently released a controversial article about how to make tabs accessible.  In it, they note they are doing things a bit differently"

  %blockquote
    Some of the non-visual users in our studies used the links list functionality in their screen reader software. When they did, the links with role="tab" within the role="tablist" element didn’t show up in the list. These elements have moved to a list of ARIA elements-—a relatively new piece of functionality in screen readers, and one that some folks weren’t familiar with. So, these users weren’t able to find any of the content contained in the inactive tabs.

    Also, many sighted keyboard users were frustrated when the ability to tab to each individual tab was removed through the use of tabindex="-1". People often weren’t aware of the arrow key shortcuts that replace the tabbing interaction they’d normally use to move between links/interactive elements. This includes people who use magnification tools with their screen reader (like ZoomText).
    
  %cite Jeff Smith, Simply Accessible

  :code
    # lang: html
    <div id="tabs">
        <ul class="tabsList">
            <li class="current"><a href="#ipa" id="tab-ipa" aria-selected="true">India Pale Ale (IPA)</a></li>
            <li><a href="#gueuze" id="tab-gueuze" aria-selected="false">Gueuze</a></li>
            <li><a href="#imperial-stout" id="tab-imperial-stout" aria-selected="false">Imperial Stout</a></li>
        </ul>

        <div class="tabPanel" aria-hidden="false" aria-labelledby="tab-ipa" style="display: block;">
            <h2 id="ipa">India Pale Ale (IPA)</h2>
            ...
        </div>

        <div class="tabPanel" aria-hidden="true" aria-labelledby="tab-gueuze" style="display: none;">
            <h2 id="gueuze">Gueuze</h2>
            ...
        </div>

        <div class="tabPanel" aria-hidden="true" aria-labelledby="tab-imperial-stout" style="display: none;">
            <h2 id="imperial-stout">Imperial Stout</h2>
            ...
        </div>
    </div>

  :code
    # lang: javascript
    # Where var tabpanel is our revealed tab content
    # and this allows us to focus in on heading for content navigated to.

    tabPanel.children("h2").attr("tabindex", -1).focus();
    
  %p.unsure I still don't completely understand the use of aria-selected here. I also wonder about the difference between aria selected and aria expanded.

  
  %h3 More Resources
 