---
title: Buttons | Accessibility Guidelines
---
%h2.page-title
  Buttons

%h3 Use buttons to signal actions.
%p Avoid using <div> or <img> tags to create buttons. Screen readers don't automatically know either is a usable button.
%p When styling links to look like buttons, remember that screen readers handle links slightly differently than they do buttons. Pressing the Space key triggers a button, but pressing the Enter key triggers a link.

%h3 When to use
%p Use buttons for the most important actions you want users to take on your site, such as "download," "sign up," or "log out."

%h3
%p If you want to lead users between pages of a website. Use links instead.
%p Less popular or less important actions may be visually styled as links.

%h3 The difference between Buttons and Links
%p If you want a user to trigger JavaScript functionality, then you should use a button.

%p If you want a user to navigate to a new page, or to a different target on the same page, you should use an anchor element (a tag). If there is any kind of href that you can put on that link, definitely use an anchor element - even if you override that behavior with JavaScript.

%p If you must use a different HTML element to do the same functionality as a button, make sure you include role='button' like the following:

:code 
  # lang: html
  <div role='button'>
    Open Modal
  </div>
  #without this role, a screenreader will not tell the user that the div can be clicked on

%h3 More Resources
