---
title: Buttons | Accessibility Guidelines
---
.primary-content{:id => "content"}
  %h2.page-title
    Buttons

  %h3 The difference between Buttons and Links
  %p If you want a user to trigger JavaScript functionality, then you should use a button.

  %p If you want a user to navigate to a new page, or to a different target on the same page, you should use an anchor element (a tag). If there is any kind of href that you can put on that link, definitely use an anchor element - even if you override that behavior with JavaScript.
  
  %h3 More Resouces
 