---
title: Color | Accessibility Guidelines
---
.primary-content{:id => "content"}
  %h2.page-title
    Contrase &amp; Color
  
  
  %h3 More Resouces
  %a{:href => "http://simplyaccessible.com/article/pitfalls-colour-contrast/"} Three common accessibility pitfalls for developers: colour contrast
 