---
title: Color | Accessibility Guidelines
---
.primary-content{:id => "content"}
  %h2.page-title
    Contrast &amp; Color

  %p Have a minimum of contrast ratio of 4.5:1 for normal text and 3:1 for large text.
  
  
  %h3 More Resouces
  %a{:href => "http://simplyaccessible.com/article/pitfalls-colour-contrast/"} Three common accessibility pitfalls for developers: colour contrast
 