---
title: Fonts | Accessibility Guidelines
---
.primary-content{:id => "content"}
  %h2.page-title
    Fonts &amp; Font Sizes

  %h3 Typefaces
  %p Alignment: Type set flush left provides the eye a constant starting point for each line, making text easier to read.

  %p Line length: Controlling the length of lines of text in extended copy makes reading more comfortable by helping readers’ eyes flow easily from one line to the next. Somewhere between 50 and 75 characters per line is broadly considered to be a readable line length, while 66 characters is considered the ideal. Other factors beyond line length also affect reading comfort. Text with more space between lines can have somewhat longer line length. Also, contexts in which users will not be reading long passages of text (such as footnotes or alerts) can safely be set with somewhat longer lines as well.

  %p Spacing: White space affects how the user focuses their attention on the content. It makes it easier to know what to read and where to begin. Spacing between typographic elements should be open enough to feel light, but close enough to establish a proper relationship between elements. When setting headers and body copy, white space should be 60px, 30px, 20px, or 15px.

  %h3 Links
  %p Users should be able to tab to navigate between links.
  %p Users should be able to activate a link when pressing ‘Enter’ on their keyboard.
  %p Users should be able to identify links without relying on color alone.
  %p Users should be able to activate hover and focus states with both a mouse and a keyboard.

  %h3 Lists
  %h4 When to use:
  %p Use an ordered list when you need to display text in some ranking, hierarchy, or series of steps.
  %p Use unordered lists to display text in no specific order.

  %h4 When to consider something different:
  %p If you need to communicate long lists of narrative text.

  %h3 Colors
  %p WCAG (Web Content Accessibility Guidelines) ensure that content is accessible by everyone, regardless of disability or user device. To meet these standards, text and interactive elements should have a color contrast ratio of at least 4.5:1. This ensures that viewers who cannot see the full color spectrum are able to read the text.
  %p The options below offer color palette combinations that fall within the range of Section 508 compliant foreground/background color contrast ratios. To ensure that text remains accessible, use only these permitted color combinations.
  %p If you choose to customize beyond this palette, #{link_to 'this color contrast tool', 'http://webaim.org/resources/contrastchecker/'} is a useful resource for testing the compliance of any color combination.
  
  
  %h3 More Resources
 