---
title: Images | Accessibility Guidelines
---
.primary-content{:id => "content"}
  %h2.page-title
    Images

  %p Images without alt text are assumed by screen readers to be decorative, which is ok if they are indeed decorative! (Like background color images, etc).
  
  %h3 More Resouces
  %a{:href => "https://www.searchenginejournal.com/image-alt-text-vs-image-title-whats-the-difference/"} Image Alt Text Vs. Image Title: What’s the Difference?
  %a{:href => "http://simplyaccessible.com/article/three-pitfalls-text-alternatives/"} Three common accessibility pitfalls for developers: text alternatives
  %a{:href => "https://www.paciellogroup.com/blog/2016/02/short-note-on-use-of-alt-and-the-title-attribute/"} Short note on use of alt=”” and the title attribute