---
title: Welcome to Stubbleman
---

%h2.page-title
  The Stubbleman is Watching

:code
  # lang: html

  <h1>The Most Important Headline</h1>
  <article class="article-intro">
    <p>Here's a paragraph</p>
    <a class="read-more" href="/more.html">Read More</a>
  </div>


:code
  # lang: css

  .read-more {
    color: black;
    text-decoration: underline;
  }
