---
title: Links | Accessibility Guidelines
---
.primary-content{:id => "content"}
  %h2.page-title
    Links

  %p The text of link should make it’s purpose and destination obvious.  If you are linking to something from an image or icon, supply a title attribute to give people who use screenreaders some context.
  
  %h3 More Resources