---
title: Resources | Accessibility Guidelines
---
.primary-content{:id => "content"}
  %h2.page-title
    Tools &amp; Resources

  %h3 Primary Resources
  %ul
    %li 
      %a{:href => "https://www.w3.org/WAI/WCAG20/quickref/"} W3C Accessibility Guidelines &amp; Requirements
    %li 
      %a{:href => "https://standards.usa.gov/getting-started/"} US Web Design Standards
  
  %h3 Browser and Testing Tools
  %ul
    %li
      %a{:href => "http://khan.github.io/tota11y/"} tota11y: an accessibility visualization toolkit
    %li
      %a{:href => "http://pa11y.org/"} pa11y: your automated accessibility testing pal
    %li
      %a{:href => "http://accessibility-bookmarklets.org/"} Highlight accessibility features of web pages
    %li
      %a{:href => "http://wave.webaim.org/extension/"} Wave Accessibility Chrome Extension
    %li
      %a{:href => "http://www.chromevox.com/"} Chrome Vox Screenreader Extension
    %li
      %a{:href => "https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=en"} Accessibility Developer Tools
    %li
      %a{:href => "http://leaverou.github.io/contrast-ratio/"} Contrast Ratio Tool
  

  %h3 Great Blogs, Articles, and Further Resources on Accessibility
  %ul
    %li
      %a{:href => "http://www.glendathegood.com/blog/?cat=3"} Glenda Sims Blog on Accesibility
    %li
      %a{:href => "http://www.deque.com/blog/"} The Deque Blog: On Accessibility
    %li
      %a{:href => "https://a11ywins.tumblr.com/"} Accessibility Wins: Showcasing accessible user interfaces and tools
    %li
      %a{:href => "http://alistapart.com/topic/accessibility"} A List Apart Articles on Accessibility
    %li
      %a{:href => "http://simplyaccessible.com/articles/"} Simply Accessible Articles
    %li
      %a{:href => "http://web-a11y.herokuapp.com/"} A11y Slack Chatroom
    %li
      %a{:href => "http://a11yproject.com/"} The A11y Project
    %li
      %a{:href => "https://webaccessibility.withgoogle.com/resources"} Google Accessibility Resources

  %h3 Sites Approved by Accesible Users
  %ul
    %li
      %a{:href => "http://www.freedomscientific.com/"} Freedom Scientific
    %li
      %a{:href => "http://www.perkins.org/"} Perkins School for the Blind
    %li
      %a{:href => "http://www.seeingeye.org/?referrer=https://www.google.com/"} The Seeing Eye Website
    %li
      %a{:href => "http://www.afb.org/default.aspx"} THe American Foundation for the Blind
    
  
 