---
title: Search | Accessibility Guidelines
---
%h2.page-title
  Search

%h3 Simply Accessible Search Bar

:code
  # lang: html
  <form role=’search’ action="/" method="get">
    <label for=’header-search’> <span class=’visually-hidden’> Search </span> </label>
    <input type=’text’ id=’header-search’/>
    <button type=’submit’> <span class=’visually-hidden’>Submit Search</span></button>
  </form>