---
title: Seizures | Accessibility Guidelines
---
.primary-content{:id => "content"}
  %h2.page-title
    Seizures

  %p From GDI accessibility curriculum: “Animations with rapid flickers are not only annoying, they can trigger epileptic seizures.”

  %p Try to not use flashing graphics or animations, parallax (scroll jacking), and keep motion animations in general to an absolute minimum.
  
  %h3 More Resouces
 