---
title: Tables | Accessibility Guidelines
---
.primary-content{:id => "content"}
  %h2.page-title
    Tables

  %p The purpose of tables in HTML is to present tabular information in a grid, or matrix, and to have columns or rows that show the meaning of the information in the grid. Tables should not be used for page layout or for information that is not tabular.

  %p A critical step toward creating an accessible data table is to designate row and column headers. The th element is used to mark up these headers, and should never be empty. Headers can also make use of the scope attribute, which identifies whether a table header is a column header or a row header.

  %p The thead and tfoot elements define header and footer rows for tables, but provide no accessibility functionality and are generally only of use when a long table is printed. There is no harm in using these elements for table styling or other reasons, but they do not provide any added accessibility benefits.
  
  %h3 More Resouces
 